/* GenreFilter.css */

.genre-filter {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }
  
  .genre-filter select {
    width: 90%;
    padding: 8px;
    font-size: 16px;
  }
  